* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  /*header*/
  
  body {
    font-family: monospace;
    margin: 0px;
    height: 500px;
    width: 100%;
    padding: 0px;
    background-color: black;
  }
  
  .header {
    width: 100%;
    height: 85px;
    align-items: center;
    background-image: url(https://i.pinimg.com/736x/d7/a6/11/d7a61190a836bdcfc62bf97af4f4c74b.jpg);
  }
  
  .logo_header {
    height: 60px;
    width: 170px;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    transition: 0.5s;
  }
  
  
  .logo_header:hover {
    transform: scale(1.1);
  }
  
  .container {
    width: 100%;
    display: flex;
  }
  
  .header .container {
    height: 100%;
    width: 95%;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar {
    margin-top: 14px;
    width: 500px;
    color: goldenrod;
    list-style: none;
    align-items: center;
    display: flex;
    padding: 0;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }
  
  .botaoLogin {
    color: goldenrod;
    margin-left: 50px;
    background-color: white;
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .botaoLogin:hover {
    transform: scale(1.1);
  }
  
  a {
    transition: 0.5s;
  }
  
  a:link {
    color: goldenrod;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:visited {
    color: goldenrod;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: goldenrod;
    background-color: transparent;
    text-decoration: underline;
    font-size: 20px;
    transform: scale(1.1);
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

/* Início dos Créditos */

  .star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
  }

  .logo {    
    position: absolute;
    top: 20%;
    left: 45%;
    z-index: 1;
    margin: auto;
    animation: logo 9s ease-out 1s;
    opacity: 0;
}

.logo svg {
    width: inherit;
}

/* Efeito de diminuir a logo (Width deixa centralizado) */
@keyframes logo {
    0% {
        width: 18em;        
        transform: scale(2.75);
        opacity: 1;
    }
    50% {
        opacity: 1;
        width: 18em;      
    }
    100% {
        opacity: 0;
        transform: scale(0.1);
        width: 18em;
    }
}

p {
  color: #FFFF82;
}

/* Posiciona e personaliza a fonte */
#board {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  text-align: justify;
  position: absolute;
  margin-left: -9em;
  font-weight: bold;
  overflow: hidden;
  font-size: 350%;
  height: 50em;
  width: 18em;
  bottom: 0;
  left: 50%;
}

#board:after {    
  position: absolute;
  content: ' ';
  bottom: 60%;
  left: 0;
  right: 0;
  top: 0;
}

/* Animação de scrollar pra cima*/
#content {
  animation: scroll 100s linear 5s;
  position: absolute;
  top: 100%;
}

#title, #subtitle {
  text-align: center;
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}